    

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}  {% endblock %}</title>
</head>
<body>

    <div>
        <h1>{% block page_header %} Библиотеки Python {% endblock %}</h1>
    </div>

    <p>Меню</p>
    <ul>
        
        {% for item in menu_items %}
        <li>
            <a href="{{ item.link }}">{{ item.title }}</a>
        </li>
        {% endfor %}

    </ul>

    {% block page_content %}{% endblock %}

</body>
</html>