<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>

    <div>
        <h1>{{ page_header }}</h1>
    </div>

    <p>Меню</p>
    <ul>
        <li>
            <a href="/task3/django">Django</a>
        </li>
        <li>
            <a href="/task3/numpy">Numpy</a>
        </li>
    </ul>

    <div>
        <button>
            <a href="/task3">На главную</a>
        </button>
    </div>

    <div>
        <p>Django - фреймворк для создания сайтов и web-приложений</p>
        <p>Django написан на Python</p>
        <p>Текущая версия - 5</p>
    </div>

</body>
</html>