<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>

    <div>
        <h1>{{ page_header }}</h1>
    </div>

    <p>Меню</p>
    <ul>
        <li>
            <a href="/task3/django">Django</a>
        </li>
        <li>
            <a href="/task3/numpy">Numpy</a>
        </li>
    </ul>

    <div>
        <button>
            <a href="/task3">На главную</a>
        </button>
    </div>

    <div>
        <p>Numpy - библиотека с открытым исходным кодом для языка программирования Python</p>
        <p>Возможности:</p>
        <ul>
            <li>поддержка многомерных массивов (включая матрицы);</li>
            <li>поддержка высокоуровневых математических функций, предназначенных для работы с многомерными массивами.</li>
        </ul>
        <p>Текущая версия - 2.0.0 (16 июня 2024)</p>
    </div>

</body>
</html>